@import '/styles/css-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-very-dark-gray: hsl(234, 12%, 34%);
    --color-grayish-gray: hsl(229, 6%, 66%);
    --color-very-light-gray: hsl(0, 0%, 98%);
    --font: 'Poppins', 'Times New Roman', Times, serif;
    --font-two: 200;
    --font-four: 400;
    --font-six: 600;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--font);
    width: 100%;
    background-color: var(--color-very-light-gray);
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 450px;
    margin: 60px auto;
    padding: 0 50px;
}

.heading-1 {
    font-size: 1.3rem;
    color: var(--color-grayish-gray);
    padding: 15px;
    font-weight: var(--font-two);
}

.technology {
    color: var(--color-very-dark-gray);
    font-weight: var(--font-six);
    font-size: 1.3rem;
}

.main-paragraph {
    color: var(--color-grayish-gray);
    font-weight: var(--font-two);
    font-size: 0.8rem;
    width: 250px;
    margin-right: 65px;
    margin-bottom: 50px;
}

.supervisor,
.team-builder,
.karma,
.calculator {
    max-width: 270px;
    height: 200px;
    border: 1px solid rgb(245, 241, 241);
    margin-bottom: 20px;
    padding: 15px;
    margin-right: 60px;
    border-radius: 5px;
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45); */
    -webkit-box-shadow: 0 8px 20px -10px rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 20px -10px rgba(0, 0, 0, 0.45);
}

.position {
    font-weight: var(--font-six);
    color: --color-very-dark-gray;
    padding: 5px;
}

.description {
    padding: 5px;
    color: var(--color-grayish-gray);
    font-size: 0.75rem;
    font-weight: var(--font-two);
}

.position-img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 200px;
}

.supervisor {
    border-top-color: var(--color-cyan);
    border-top-width: 0.25rem;
}

.team-builder {
    border-top-color: var(--color-red);
    border-top-width: 0.25rem;
}

.karma {
    border-top-color: var(--color-orange);
    border-top-width: 0.25rem;
}

.calculator {
    border-top-color: var(--color-blue);
    border-top-width: 0.25rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

#dark-mode-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
}


#dark-mode-btn .dark-mode {
    background-color: #fff;
    color: #000;
}

.text-light {
    color: white;
}

.attribution {
    margin-top: 70px;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) and (min-width: 1366px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1080px;
    }

    .heading-1 {
        font-size: 1.8rem;
    }

    .technology {
        font-size: 1.8rem;
        display: block;
    }

    .main-paragraph {
        width: 400px;
        margin-left: 90px;
        line-height: 2;
    }

    .supervisor {
        position: absolute;
        left: 250px;
        top: 390px;
    }

    .calculator {
        position: absolute;
        right: 250px;
        top: 390px;
    }

}